h1 {
    color: rgb(123, 206, 255);
    font-size: 15pt;
    font-weight: 100;
}

p {
    line-height: 50px;
    letter-spacing: 10px;
    text-decoration: line-through;
}

a {
    color: white;
    text-decoration: none;
    font-style: italic;
    text-shadow: 1px 1px 1px black;
    font-size: 40px;
}