#head {
    color: aqua;
    font-size: 40pt;
}

#sign_up {
    width: 250px;
    height: 50px;
    border: none;
    background-color: blue;
    color: white;
}

#re {
    width: 250px;
    height: 50px;
    border: none;
    background-color: blue;
    color: white;
}

.a1 {
    color: aqua;
}

.a2 {
    padding: 20px;
    margin: 3px;
    border: none;
    background-color: beige;
    width: 500px;
}

.button {
    width: 520px;
    text-align: center;
}